.container-motivation {
	padding-top: 2rem;
	text-align: center;
}

.back {
	position: absolute;
	float: left;
	left: 2rem;
	top: 1rem;
	font-size: 4rem;
}

.container-motivation > p {
	font-size: 1.5rem;
}
.reason {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	gap: 10%;
}

.left {
	flex-direction: row-reverse;
}

.right {
	flex-direction: row;
}

.content {
	flex-shrink: 2;
	text-align: center;
}

.content p {
	font-size: 1.2rem;
	text-align: justify;
}

.reason SVG {
	width: 50rem;
	height: 30rem;
}

.back-to-top {
	font-size: 4rem;
	border: 0.1rem solid var(--color-primary);
	border-radius: 1rem;
}

.back-to-top:hover {
	box-shadow: 0 0 5px 0 black;
}
