header {
	height: 120vh;
	padding-top: 1rem;
	overflow: hidden;
}

.header-container {
	text-align: center;
	height: 80%;
	position: relative;
}

/* =========================== Cover letter ======================== */
.cover {
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
	height: 10vh;
}

.btn-cover {
	/* z-index: -1; */
	color: var(--color-bg);
	position: relative;
	float: right;
	top: 60px;
	right: 40px;
}

.arrow {
	width: 150px;
	height: 150px;
	color: var(--color-bg-variant);
}

.ali-text {
	font-weight: bold;
}
/* =========================== CTA ======================== */
.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

/* =========================== Header Socials ======================== */
.header-socials {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
	position: absolute;
	left: 0;
	bottom: 15rem;
}

.header-socials::after {
	content: '';
	height: 2rem;
	width: 1px;
	background: var(--color-primary);
}

/* =========================== ME ============================== */
.my-pic {
	background: linear-gradient(var(--color-primary), transparent);
	width: 22rem;
	height: 25rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 4rem;
	border-radius: 12rem 12rem 0 0;
	overflow: hidden;
	padding: 5rem 2.5rem 0 1.5rem;
}

/* =========================== SCROLL DOWN ============================== */

.scroll-down {
	position: absolute;
	right: -2.3rem;
	bottom: 18rem;
	transform: rotate(90deg);
	font-weight: 300;
	font-size: 0.9rem;
}

/* ================================== MEDIA QUERIES (MEDIUM) =========================== */

@media screen and (max-width: 1024px) {
	.btn-cover {
		top: 2rem;
	}
	header {
		height: 140vh;
	}

	.scroll-down {
		bottom: 10rem;
	}

	.header-socials {
		bottom: 7rem;
	}
}

@media screen and (max-width: 768px) {
	header {
		height: 150vh;
	}

	.ali-text {
		font-weight: bold;
		text-align: justify;
		margin-left: 2rem;
		flex-shrink: 6;
	}
	.btn-cover {
		font-size: 0.8rem;
		float: right;
		left: -0.7rem;
		top: -3rem;
	}
	.arrow {
		width: 5rem;
		height: 5rem;
		/* display: none; */
	}
}

/* ================================== MEDIA QUERIES (SMALL) =========================== */

@media screen and (max-width: 426px) {
	header {
		height: 160vh;
	}

	.header-socials,
	.scroll-down {
		display: none;
	}
	.cover {
		/* padding: 0; */
		flex-direction: column;
		align-items: center;
		gap: 0.8rem;
		height: 20vh;
		padding: 0;
	}
	.ali-text {
		font-size: x-small;
		text-align: center;
		margin: 0;
	}

	.arrow {
		display: none;
	}

	.btn-cover {
		position: unset;
		font-size: 0.6rem;
		margin-bottom: 2rem;
	}
}
